.greybox {
  position: absolute;
  top: 10px;
  -webkit-transition: padding 0.5s ease-in-out;
  max-width: 450px;
  min-width: 240px;
  border-right: 1px solid #aaeeff;
  padding: 12px;
  /* properties */

}
.greybox.over {
  padding: 15px;
}
.greybox:hover .box-delete {
  display: block;
}
.greybox .box-delete {
  z-index: 10;
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.2em;
}
.greybox .uplt,
.greybox .uprt,
.greybox .btlt,
.greybox .btrt {
  width: 10px;
  height: 10px;
}
.greybox .uplt {
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;
  position: absolute;
  top: 0;
  left: 0;
}
.greybox .uprt {
  display: none;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  position: absolute;
  top: 0;
  right: 0;
}
.greybox .btlt {
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  position: absolute;
  bottom: 0;
  left: 0;
}
.greybox .btrt {
  display: none;
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  position: absolute;
  bottom: 0;
  right: 0;
}
.greybox input {
  font-family: "District", "Droid Sans", "Lucida Sans";
  color: rgba(0, 0, 50, 0.6);
  text-align: left;
  position: absolute;
  left: 0px;
  bottom: -20px;
  margin: 0px;
  padding: 0px;
  background: rgba(255, 255, 255, 0);
  font-size: 10pt;
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.greybox input:hover,
.greybox input:focus {
  color: black;
}
.greybox .microtoolbox {
  display: none;
  color: rgba(0, 0, 50, 0.6);
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: -20px;
  margin: 0px;
  padding: 0px;
  width: 80%;
  font-size: 14px;
}
.greybox .microtoolbox span:hover {
  color: black;
}
.greybox .properties {
  position: absolute;
  left: 100%;
  top: 0px;
  min-width: 100px;
  height: 100px;
  overflow: none;
  /*height:@propsheight;*/

  border-top: none;
  border-bottom: none;
  border-right: none;
  padding: 4px;
  font-size: 0.7em;
  vertical-align: top;
}
.greybox .properties ul.propitems {
  vertical-align: top;
  list-style-type: none;
  margin: 0px 0px 10px 10px;
}
.greybox .properties .coverage-small {
  font-size: 10pt;
}
.greybox .properties .coverage-medium {
  font-size: 12pt;
}
.greybox .properties .coverage-large {
  font-size: 14pt;
}
.greybox .properties .uplt {
  display: none;
  border-left: 1px solid #aaeeff;
  border-top: 1px solid #aaeeff;
  position: absolute;
  top: 0;
  left: 0;
}
.greybox .properties .uprt {
  display: block;
  border-right: 1px solid #aaeeff;
  border-top: 1px solid #aaeeff;
  position: absolute;
  top: 0;
  right: 0;
}
.greybox .properties .btlt {
  display: none;
  border-bottom: 1px solid #aaeeff;
  border-left: 1px solid #aaeeff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.greybox .properties .btrt {
  display: block;
  border-bottom: 1px solid #aaeeff;
  border-right: 1px solid #aaeeff;
  position: absolute;
  bottom: 0;
  right: 0;
}
.greybox .sparkhist {
  zindex: -10;
  position: absolute;
  top: 100%;
  right: 5px;
  width: 20px;
  height: 10px;
  margin-top: -20px;
  height: 100px;
  text-align: right;
}
.greybox .sparkhist div.bars-horizontal {
  overflow: hidden;
  font: 8px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  line-height: 1.5em;
}
.greybox .sparkhist rect {
  stroke: white;
  fill: rgba(0, 200, 255, 0.5);
}
.greybox .sparkhist rect.brush {
  fill: white;
  stroke: rgba(0, 200, 255, 0.5);
}
.simple {
  font-size: 8pt;
  padding: 4px;
  width: 20px;
}
