@boxminwidth : 240px;
@boxwidth : 320px;
@propswidth : 300px;
@propsheight : 130px;
@propertybordercolor: #aef;

.box(@bordercolor: #4af) {
  position:absolute;
  top:10px;
  -webkit-transition: padding 0.5s ease-in-out;
  width:@boxwidth;
  min-width:@boxminwidth;
  // border-right:1px solid @propertybordercolor;      

  padding:12px 20px 12px 12px;
  &.over { padding:20px;  }
  
  &:hover .box-delete { display:block; }
  .box-delete {
	  z-index:10;
      display:none;
      position:absolute;
      top:7px; right:10px;
	  font-size:1.2em;
  }       
  .uplt, .uprt, .btlt, .btrt {
	  width:10px; height:10px;
  }

  .uplt {
      border-left:1px solid @bordercolor;
      border-top:1px solid @bordercolor;
      position:absolute;
      top:0; left:0;
  }
  .uprt {
      border-right:1px solid @bordercolor;
      border-top:1px solid @bordercolor;
      position:absolute;
      top:0; right:0;
  } 
  .btlt {
      border-bottom:1px solid @bordercolor;
      border-left:1px solid @bordercolor;
      position:absolute;
      bottom:0; left:0;
  } 
  .btrt {
      border-bottom:1px solid @bordercolor;
      border-right:1px solid @bordercolor;
      position:absolute;
      bottom:0; right:0;
  }
  input {
    font-family:"District", "Droid Sans", "Lucida Sans";
    color:rgba(0,0,50,0.6);
    text-align:left;
    position:absolute;
    left:0px; bottom:-20px;
    margin:0px; padding:0px; 
    background:rgba(255,255,255,0);
    font-size:10pt;
    border:none !important;
    -webkit-box-shadow:none;
    box-shadow:none;
	&:hover, &:focus { color:black;	}
  }
  .microtoolbox {
	display:none;
    color:rgba(0,0,50,0.6);
    text-align:right;
    position:absolute;
    right:0px; bottom:-20px;
    margin:0px; padding:0px; 
    width:80%;
    font-size:14px;
	span {
		&:hover { color:black;	}
	}
  }
  /* properties */
  .properties {
	  .propitems {
		  margin:0px;
		  padding:0px;
		  width: 100%;
		  list-style-type:none !important;
		  li { margin:0px !important; padding:0px !important; }
	  }
	  background-color:#eef;
      position:absolute;
      left:100%;
	  top:0px;
      width:200px;
	  height:100px;
	  overflow:none;
	  /*height:@propsheight;*/
	  border-top:none; border-bottom:none; border-right:none;
	  padding:4px;	
      vertical-align:top;
	  .path {
		  background-color:#fff;
		  padding:0px; margin:0px;
		  font-size:0.9em;
		  * {
			  margin:0px; padding:0px; border:none;
		  }
		  select {
			  width:100px !important;
			  border:none !important;
		  }
	  }	  
      .coverage-small { font-size:10pt; }
      .coverage-medium { font-size:12pt; }
      .coverage-large { font-size:14pt; }
  }
  // mini histogram sparkline
  .sparkhist { 
	  zindex:-10;
	  position:absolute;
   	  top:100%;	right:5px; width:20px;
	  height:10px;
	  margin-top:-20px;
	  // border-left:1px solid #eee;
	  height:100px;
	  text-align:right;
	  div.bars-horizontal {
			overflow:hidden;
			font:8px sans-serif;
			background-color:steelblue;
			text-align:right;
			padding:3px;
			margin:1px;
			height:12px;
			color:white;
			line-height:1.5em;
	  }
	  rect {
		  stroke:white; 
		  fill:rgba(0,200,255,0.5);
		  &.brush {
			  fill:white;
			  stroke:rgba(0,200,255,0.5);			  
		  }
		  &.unbrush {}		  
	  }
  }
}

.greybox {
   .box;
}        
.simple {
    font-size:8pt;
    padding:4px;
    width:20px;
}
