.greybox {
  position: absolute;
  top: 10px;
  -webkit-transition: padding 0.5s ease-in-out;
  max-width: 450px;
  min-width: 300px;
  padding: 8px;
}
.greybox.over {
  padding: 15px;
}
.greybox .uplt,
.greybox .uprt,
.greybox .btlt,
.greybox .btrt {
  width: 10px;
  height: 10px;
}
.greybox .uplt {
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;
  position: absolute;
  top: 0;
  left: 0;
}
.greybox .uprt {
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  position: absolute;
  top: 0;
  right: 0;
}
.greybox .btlt {
  border-bottom: 1px solid #999999;
  border-left: 1px solid #999999;
  position: absolute;
  bottom: 0;
  left: 0;
}
.greybox .btrt {
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  position: absolute;
  bottom: 0;
  right: 0;
}
.greybox .items div {
  display: inline-block;
  margin: 0px;
}
.greybox input {
  font-family: "District", "Droid Sans", "Lucida Sans";
  color: rgba(0, 0, 50, 0.6);
  text-align: left;
  position: absolute;
  left: 0px;
  bottom: -20px;
  margin: 0px;
  padding: 0px;
  background: rgba(255, 255, 255, 0);
  font-size: 10pt;
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.greybox input:hover,
.greybox input:focus {
  color: black;
}
.greybox .microtoolbox {
  color: rgba(0, 0, 50, 0.6);
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: -20px;
  margin: 0px;
  padding: 0px;
  width: 80%;
  font-size: 14px;
}
.greybox .microtoolbox span:hover {
  color: black;
}
.simple {
  font-size: 8pt;
  padding: 4px;
  width: 20px;
}
/* properties */
.properties {
  position: absolute;
  left: 0px;
  right: 0px;
  min-width: 200px;
  bottom: -190px;
  height: 170px;
  border-top: none;
  border-left: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  overflow: auto;
  padding: 4px;
  font-size: 0.7em;
  vertical-align: top;
}
.properties .propitems {
  vertical-align: top;
}
/*
    .converage-container, .entropy-container {
	   display:inline-block;
	   position:relative;
       width: @minichart-width;
       height: 1em;
       div {
          position:absolute; left:0px; top:0px; bottom:0px; right:0px;
       }
       border:1px solid #AAA;
   }
   .coverage-container {  display:none; div { background-color:#AEE; }   }
   .entropy-container {  display:none; div { background-color:#EAA; }  }
   */