@boxminwidth : 240px;
@boxwidth : 340px;
@boxheight : 250px;
@propswidth : 300px;
@propsheight : 130px;
@propertybordercolor: #aef;
@nicegrey : rgba(200,200,200,0.2);
@titlebar-height:23px;

.titlebar {
	position:relative;
	cursor: move;
	padding: 2px 3px 2px 5px;
	background-color: @nicegrey;
	height:@titlebar-height;
    font-size:0.9em;
	input {
		font-family:"District", "Droid Sans", "Lucida Sans";
		color:rgba(0,0,50,0.6);
		background-color:rgba(255,255,255,0.7) !important; 
		text-align:left;
		position:absolute;
		left:2px; bottom:0px !important;
		width:120px;
		margin:0px;
		padding:4px !important; 
		font-size:11pt;
		border-radius-top-left:3px !important;
		border-radius-top-right:3px !important;
		border:none !important;
		box-shadow:none !important;		
		&:hover, &:focus { color:black;	}
		cursor:text;
		-webkit-appearance:none !important;
		&:focus {
			box-shadow:none !important;
			outline:0 !important;
			-webkit-outline:0 !important;
			outline-color: transparent !important;
			outline-style: none !important;
		}		
	}	
	.icon-share {
		position:absolute;
		right:20px;
		top: 3px;
		cursor:pointer;
	}
	.box-delete { .standard-delete-box;  }
	// mini histogram sparkline
	.sparkhist {
		cursor:default;
		z-index:1000;
		position:absolute;
		top:3px;right:35px;
		height:15px;
		text-align:right;
		width:30px;
		rect {
			fill:white;
			stroke:rgba(0,200,255,0.5);			  			
			&.brush {
				fill:rgba(0,200,255,0.5);
			}
			&.unbrush {}		  
		}
	}			
}
.box-box-shadow {
	-webkit-box-shadow:1px 1px 10px 1px #f0e8f0;
	box-shadow:1px 1px 10px 1px #f0e8f0;
}
.standard-delete-box {
    z-index:10;
	position:absolute;
	top:3px; right:2px;
    cursor: pointer;
}
.box(@bordercolor: #4af) {
	z-index:5;
	background-color:white;
	.box-box-shadow;
	position:absolute;
	top:10px;
	-webkit-transition: padding 0.5s ease-in-out;
	width:@boxwidth;
	min-width:@boxminwidth;
	padding:12px 20px 12px 12px;
	height:@boxheight;
	overflow-x:hidden;
	overflow-y:hidden;
	&.over { padding:5px;  }
	.microtoolbox {
		display:none;
		color:rgba(0,0,50,0.6);
		text-align:right;
		position:absolute;
		right:0px; bottom:-20px;
		margin:0px; padding:0px; 
		width:80%;
		font-size:14px;
		span {
			&:hover { color:black;	}
		}
	}
	.items {
		position:absolute;
		top:@titlebar-height; left:0px; right:0px; bottom:0px;
		overflow-x:hidden;
		overflow-y:auto;
        padding-right:15px; // leave space for scrollbar
	}
	/* properties */
	.properties {
		background-color:@nicegrey !important;		
		position: absolute;	
		z-index:3;
		left:0px; right:0px; bottom:0px; // height set by foo bar
		padding-top:3px;
		overflow:none;
		vertical-align:top;
		.propitems {
			position:absolute; top:0px; bottom:0px; left:0px; right:0px;
			margin:0px !important; padding:0px !important;
			list-style-type:none !important;
			li.path {
				// border-bottom:1px solid #eee;
				margin:0px !important;
				padding:0px !important;
				padding:0px; 
				position:relative;
				.steps {
					padding:0px 0px 1px 15px;
					font-size:8pt !important;
					vertical-align:middle !important;
					* {
						margin:0px; padding:0px; border:none;
					}		  
					.delete {
						z-index:10; margin:0px; padding:0px;
						position:absolute;
						top:3px; left:1px;
					}		  
					select {
						background-color:white !important;
						border: 1px solid rgba(0,0,0,0.22) !important;
						color:black !important;
						vertical-align:middle !important;
						font-size:7pt !important;			  
						line-height:12px !important;
						height:14px !important;
						width:120px !important;
					}
				}
			}
		}
		.new-path-btn {
			position:absolute;
			top:3px;
			right: 5px;
		}
	}
}

.greybox {
   .box;
   padding: 0px 0px 0px 0px;
   border: 1px solid #E0E0E0;
   border-radius: 5px 5px 0px 0px;
}        
.simple {
    font-size:8pt;
    padding:4px;
    width:20px;
}
.box_container {
    height: 100%;
    width: 100%;
    position: relative;
}

