@import "fontello/fontello.css";

@import "fontello/fontello-codes.css";

@import "box.css";

@import "visual.css";
/*@import "../../../js/ui/font-propertybox/fontello.css";*/
.label {
  color: #555;
  background-color: rgba(230, 230, 230, 0.6);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.sameas-over {
  border: 1px solid orange !important;
}
.sameas-over .sameas-handle {
  border: none !important;
  color: orange;
}
.ui-draggable-dragging {
  z-index: 10000;
}
body {
  margin: 0;
  padding: 0;
}
body .item:hover .delete {
  display: none;
}
body .item {
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in-out;
  -webkit-transition: padding 0.2s ease-in-out;
  border: 1px solid rgba(255, 255, 255, 0);
  position: relative;
  margin: 0px;
  padding: 0px 4px 0px 4px;
  overflow: hidden;
  text-align: right;
  width: 264px;
}
body .item .thing-label a {
  font-size: 0.5em;
}
body .item:hover {
  border: 1px solid #eee;
}
body .item .props {
  display: none;
  font-size: 0.7em;
}
body .item .delete {
  z-index: 1000;
  position: absolute;
  top: 2px;
  margin: 0px;
  padding: 0px;
  right: 5px;
  display: none;
  opacity: 0.8;
  font-size: 1.0em;
}
body .item.ui-draggable-dragging {
  border: 1px solid rgba(200, 200, 200, 0.3) !important;
}
body .slidepanel .sources {
  width: 100%;
  height: 100px;
}
body .slidepanel .sources ul {
  list-style-type: none;
}
body .slidepanel .sources .source-entry {
  cursor: pointer;
  color: #888;
}
body .slidepanel .sources .source-entry.selected {
  color: #000;
}
body .slidepanel .things {
  background-color: white;
  position: absolute;
  top: 100px;
  bottom: 140px;
  left: 0px;
  right: 0px;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
}
body .slidepanel .things input {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
body .slidepanel .things .tablecontainer {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: auto;
  background-color: white;
  padding: 10px 4px 0px 20px;
}
body .slidepanel .things table {
  margin-bottom: 50px;
}
body .slidepanel .sameas-view {
  background-color: rgba(255, 170, 80, 0.09);
  font-size: 1.2em;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 140px;
  padding: 10px 4px 0px 20px;
  text-align: right;
  border-right: 1px solid orange;
}
body .slidepanel .sameas-view .sameas-relation {
  padding: 0px 24px 2px 2px;
  margin: 0px 0px 8px 0px;
  border-radius: 2px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.42);
}
body .slidepanel .sameas-view .sameas-relation .delete {
  position: absolute;
  right: 2px;
  top: 2px;
  color: rgba(50, 50, 50, 0.5);
}
body .slidepanel .sameas-view .sameas-relation .delete.hover {
  color: black;
}
body .slidepanel .sameas-view .sameas-relation div {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
body .slidepanel .sameas-view .sameas-relation:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
body .slidepanel .new-source-add-button {
  position: absolute;
  top: 0px;
  right: 3px;
  padding: 0px;
}
body .slidepanel .new-source-url {
  display: none;
  width: 100%;
}
body .workspace {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
body .workspace .greybox {
  position: absolute !important;
}
body .workspace .toolbar {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 38px;
  background: rgba(200, 200, 200, 0.11);
  padding: 10px 0 0 5px;
}
body .slidepanel {
  padding: 6px 5px 3px 0px;
  position: fixed;
  /* Panel will overlap content */

  top: 0;
  left: -292px;
  height: 100%;
  z-index: 999;
  margin-top: auto;
  margin-bottom: auto;
}
body .tab {
  padding: 0.5em 0 0.5em 0;
  width: 20px;
  position: absolute;
  bottom: 40px;
  right: -18px;
  z-index: 999;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  border-right: 1px solid #AAA;
  border-radius: 5px;
  background: #FFF;
  text-align: center;
  box-shadow: 1px 1px #aaa;
}
body .datapanel {
  height: 100%;
  width: 300px;
  background: #FFF;
  overflow: hidden;
  position: relative;
  z-index: 3;
  left: 0;
  border-right: 1px solid #DDD;
}
body li {
  position: relative;
  left: 0;
}
body .flip-horizontal {
  -moz-transform: scalex(-1);
  -webkit-transform: scalex(-1);
  -o-transform: scalex(-1);
  transform: scalex(-1);
  -ms-filter: fliph;
  /*IE*/

  filter: fliph;
  /*IE*/

}
body .pathable-view {
  position: relative;
  border: 1px solid white;
  padding: 5px;
  width: 300px;
  margin-right: 15px;
}
body .pathable-view .sameas-handle {
  padding: 0px 6px 0px 0px;
  font-size: 1.2em;
}
body .pathable-view .name {
  padding: 0px 0px 6px 3px;
}
body .pathable-view .delete {
  position: absolute;
  top: 2px;
  right: 1px;
  margin: 0px;
  padding: 0px;
  z-index: 1000;
  padding: none;
  font-size: 1.0em;
  display: block;
}
body .pathable-view:hover {
  border: 1px solid rgba(200, 200, 200, 0.5);
}
body .pathable-view:hover .delete {
  display: block;
}
body .pathable-view .proplabel {
  margin: 0px;
  display: inline-block;
  font-size: 0.7em;
  color: #aaa;
  padding: 0px 0px 0px 5px;
  height: 0.5em;
  vertical-align: middle;
  line-height: 5px;
}
body .pathable-view .proplabel:hover {
  color: #000;
}
body .pathable-view .values,
body .pathable-view .props {
  margin: 0px;
  padding: 0px 0px 0px 18px;
}
body .pathable-view.brush {
  background-color: rgba(0, 200, 255, 0.1);
}
