/*@import "../../../js/ui/font-propertybox/fontello.css";*/
@import "fontello/fontello.css";
@import "fontello/fontello-codes.css";


@slider-width : 300px;
@slider-peek: 8px;

@visual-border-color : rgba(0,180,0,0.2);

.fullsize {
	position:absolute;
	top:0px; left:0px; right:0px; bottom:0px;
}

body {
	margin: 0;
  	padding: 0;
    .slidepanel { 
	    .sources {
			width:100%;
			height:100px;
            ul { list-style-type:none; }  
			.source-entry {
				color:#888;
				&.selected { color:#000; }
			}
		}       
        .things {
			background-color:white;    
            position:absolute;
            top:100px; bottom:0px; left:0px; right:0px;
            border:1px solid #eee;
		    input {
				width: 100%;
				margin-right: auto;
				margin-left:auto;
		    }
			.tablecontainer {
				height:100%;			
				overflow: auto;
				background-color:white;
				border:10px solid #ddd;
				border-radius:34px 0px 0px 34px;
				padding:10px 30px 13px 13px;
			}
			table {
				margin-bottom:50px;
			}
        }
        .new-source-add-button { position:absolute; top: 0px; right: 3px; padding:0px; }
        .new-source-url { display:none; width:100%; }
	}
    .workspace {
		position:fixed;
		top:0px; bottom:0px; left:0px; right:0px;
		.greybox {
			position:absolute !important;
		}
		.toolbar {
			position:absolute;
			left:0px; right:0px; top:0px;
			height:38px;
			background:rgba(200,200,200,0.11);
			padding: 10px 0 0 5px;
		}		
    }
    .slidepanel {
      padding:6px 5px 3px 0px;
 	  position: fixed;   /* Panel will overlap content */
	  top: 0;
	  left: @slider-peek - @slider-width;
	  height: 100%;
	  z-index: 999;
	  margin-top: auto;
  	  margin-bottom: auto;
    }
    .tab {
       padding:0.5em 0 0.5em 0;		
   	   width: 20px;
       position: absolute;
	   bottom: 40px;
	   right: -18px;
	   z-index: 999;
	   border-top: 1px solid #AAA;
	   border-bottom: 1px solid #AAA;
	   border-right: 1px solid #AAA;	   	   
	   border-radius: 5px;
	   background: #FFF;
	   text-align: center;
	   box-shadow: 1px 1px #aaa;
    }
   .datapanel {
	  height: 100%;
	  width: @slider-width;
	  background: #FFF;
	  overflow: hidden;
	  position: relative;
	  z-index: 3;
	  left: 0;
	  border-right: 1px solid #DDD;
    }
    li {
    	position: relative;
        left: 0;
    }
    .flip-horizontal {
       -moz-transform: scaleX(-1);
	   -webkit-transform: scaleX(-1);
	   -o-transform: scaleX(-1);
	   transform: scaleX(-1);
	   -ms-filter: fliph; /*IE*/
	    filter: fliph; /*IE*/
    }
	// hide 'x' for the things in the source list 
	.things .item:hover .delete { display:none; }
	.things .item {
        -webkit-transition: background-color 0.2s ease-in-out;
        -webkit-transition: padding 0.2s ease-in-out;
		border:1px solid rgba(255,255,255,0);                		
		position:relative;
		margin:0px;
		width:200px;
		padding:0 0 0 4px;
		overflow:hidden;
		.thing-label a { font-size:0.5em;	}
		&:hover {
			border:1px solid #eee;
			.delete { display:block; }
		}
		.props {
			display:none;
			font-size:0.7em;
		}
		.delete {
			z-index:1000; 
			position:absolute;
			top:2px; margin:0px; padding:0px;
			right:5px;			
			display: none;
			opacity:0.8;
			font-size:1.0em;
		}
	}

	// new item
	.pathable-view {
		position:relative;
		border: 1px solid white;
		padding:5px;
		width:200px;		
		.delete {
			z-index:1000; 
			position:absolute;
			right:0px; margin:0px; padding:0px;
			padding:none;
			font-size:1.0em;
			display:block;
		}
		&:hover {
			border:1px solid rgba(200,200,200,0.5);
			.delete { display: block; }
		}
		.proplabel {
			display:inline-block; font-size:0.7em; color: #aaa; padding:1px;
		}
		&.brush {
			background-color:rgba(0,200,255,0.1);
		}		
	}

    // --- ---
	@visual-width:250px;
	@visual-height:200px;
	@visual-y-width:30px;
	@visual-x-height:30px;	
    .visual {
		width:@visual-width;
		height:@visual-height;
		border:1px solid @visual-border-color;
		.corner_thingy {
			width:50px; height:50px;
			position:absolute;			
			z-index:100;			
		}
		svg {
			position:absolute;
			top:0px;
			right:0px;
			width:@visual-width - @visual-y-width;
			height:@visual-height - @visual-x-height;
		}
		.delete {
			z-index:1000; 
			position:absolute;
			top:2px; margin:0px; padding:0px;
			right:5px;			
			display: none;
			opacity:0.8;
			font-size:1.0em;
		}
		/*
		.uplt {
			.corner_thingy;
			border-left:1px solid white;
			border-top:1px solid white;
			top:-1px; left:-1px;
		}
		.uprt {
			.corner_thingy;
			border-right:1px solid white;
			border-top:1px solid white;
			top:-1px; right:-1px;
		} 
		.btlt {
			.corner_thingy;
			border-bottom:1px solid white;
			border-left:1px solid white;
			position:absolute;
			bottom:-1px; left:-1px;
		} 
		.btrt {
			.corner_thingy;
			border-bottom:1px solid white;
			border-right:1px solid white;
			bottom:-1px; right:-1px;			
		}
		*/
		.droparea {
			position:absolute;
			border-top:1px solid rgba(200,200,200,0.4);			
			&.over { box-shadow : inset 0 0 5px green;	}
			.lbl {
				.fullsize;
				text-align:center;
				vertical-align:middle;
			}
			font-size:0.8em;
		}
		.xaxis {
			.droparea;
			left:0px; bottom:0px; right:0px; height:@visual-x-height;
		}
		.yaxis {
			.droparea;
			transform: rotate(90deg);
			left:30px; top:0px; width:@visual-height - 1; height:@visual-x-height;			
			-webkit-transform: rotate(90deg);
			transform-origin:0% 0%;
			-webkit-transform-origin:0% 0%;
			top:0px;
			z-index:5;
			.lbl {	}			
		}
	}
}
	