
/*@import "../../../js/ui/font-propertybox/fontello.css";*/
@import "fontello/fontello.css";
@import "fontello/fontello-codes.css";

@import "box.css";
@import "visual.css";

@slider-width : 300px;
@slider-peek: 8px;

.label {
	color: #555;
	background-color:rgba(230,230,230,0.6);
	text-shadow: 0 -1px 0 rgba(255,255,255,0.25);
}

.sameas-over {
	border:1px solid orange !important;
    .sameas-handle {
       border:none !important;
       color:orange;
    }              
}

.ui-draggable-dragging { z-index:10000; }
			
body {
	margin: 0;
  	padding: 0;
	.item:hover .delete { display:none; }
	.item {
        cursor: pointer;
		-webkit-transition: background-color 0.2s ease-in-out;
		-webkit-transition: padding 0.2s ease-in-out;
		border:1px solid rgba(255,255,255,0);
		position:relative;
		margin:0px;
		padding:0px 4px 0px 4px;
		overflow:hidden;
		text-align:right;
		width:264px; // necessary or else dragging looks dumb.
		.thing-label a { font-size:0.5em;	}
		&:hover { border:1px solid #eee;	}
		.props {
			display:none;
			font-size:0.7em;
		}
		.delete {
			z-index:1000; 
			position:absolute;
			top:2px; margin:0px; padding:0px;
			right:5px;			
			display: none;
			opacity:0.8;
			font-size:1.0em;
		}
		&.ui-draggable-dragging {
			border:1px solid rgba(200,200,200,0.3) !important;
		}		
	}			
	
    .slidepanel { 
	    .sources {
			width:100%;
			height:100px;
            ul { list-style-type:none; }  
			.source-entry {
                cursor: pointer;
				color:#888;
				&.selected { color:#000; }
			}
		}       
        .things {
			background-color:white;    
            position:absolute;
            top:100px; bottom:140px; left:0px; right:0px;
			border-right:1px solid #eee;
			border-top:1px solid #eee;
		    input {
				width: 100%;
				margin-right: auto;
				margin-left:auto;
		    }
			.tablecontainer {
				position:absolute;top:0px; right:0px; bottom:0px; left:0px;
				overflow: auto;
				background-color:white;
				padding:10px 4px 0px 20px;
			}
			table {
				margin-bottom:50px;
			}
			.subcollection {
				position:relative;
				padding: 0px 0px 0px 0px;
				border-top:1px solid rgba(200,200,200,0.2);				
				.items {
					padding:0px; margin:0px;
					.item {
						.lbl {
							font-size:12pt;
							position:absolute;
							top:0px; left:-301px;
							text-align:right;
							color:rgba(100,100,100,0.7);
							-webkit-transform: rotate(-90deg);
							-webkit-transform-origin:100% 0%;
							width:100%;
							padding:0px 15px 0px 0px;
							
						}
					}
				}
			}
        }
		.sameas-view {
			background-color:rgba(255,170,80,0.09);
			font-size:1.2em;
			position:absolute;
			left: 0px; right:0px; bottom:0px; height:140px;
			padding:10px 4px 0px 20px;
			text-align:right;
			border-right:1px solid orange;
			.sameas-relation {
				padding:0px 24px 2px 2px;
				margin:0px 0px 8px 0px;
				border-radius:2px;
				position:relative;
				background-color:rgba(255,255,255,0.42); // rgba(255,170,80,0.10);
				.delete {
					position:absolute;
					right:2px;
					top:2px;
					color:rgba(50,50,50,0.50);
					&.hover { color:black; }
				}
				div {
					display:inline-block;
					padding-left:5px; padding-right:5px;
				}
				&:hover {
					background-color:rgba(255,255,255,0.95);
				}
			}
			
		}		
        .new-source-add-button { position:absolute; top: 0px; right: 3px; padding:0px; }
        .new-source-url { display:none; width:100%; }
	}
    .workspace {
		position:fixed;
		top:0px; bottom:0px; left:0px; right:0px;
		.greybox {
			position:absolute !important;
		}
		.toolbar {
			position:absolute;
			left:0px; right:0px; top:0px;
			height:38px;
			background:rgba(200,200,200,0.11);
			padding: 10px 0 0 5px;
		}		
    }
    .slidepanel {
      padding:6px 5px 3px 0px;
 	  position: fixed;   /* Panel will overlap content */
	  top: 0;
	  left: @slider-peek - @slider-width;
	  height: 100%;
	  z-index: 999;
	  margin-top: auto;
  	  margin-bottom: auto;
    }
    .tab {
       padding:0.5em 0 0.5em 0;		
   	   width: 20px;
       position: absolute;
	   bottom: 40px;
	   right: -18px;
	   z-index: 999;
	   border-top: 1px solid #AAA;
	   border-bottom: 1px solid #AAA;
	   border-right: 1px solid #AAA;	   	   
	   border-radius: 5px;
	   background: #FFF;
	   text-align: center;
	   box-shadow: 1px 1px #aaa;
    }
   .datapanel {
	  height: 100%;
	  width: @slider-width;
	  background: #FFF;
	  overflow: hidden;
	  position: relative;
	  z-index: 3;
	  left: 0;
	  border-right: 1px solid #DDD;
    }
    li {
    	position: relative;
        left: 0;
    }
    .flip-horizontal {
       -moz-transform: scaleX(-1);
	   -webkit-transform: scaleX(-1);
	   -o-transform: scaleX(-1);
	   transform: scaleX(-1);
	   -ms-filter: fliph; /*IE*/
	    filter: fliph; /*IE*/
    }
	// hide 'x' for the things in the source list 
	
	// compound pathable views
	.pathable-view {
		position:relative;
		border: 1px solid rgba(255,255,255,0);
		padding:5px;
		width:300px;
		margin-right:15px;
        .sameas-handle { padding: 0px 6px 0px 0px; font-size:1.2em;    }              		
		.name {
			padding:0px 0px 6px 3px;
		}
		.delete {
			position:absolute; top:2px;  right:1px; margin:0px; padding:0px;
			z-index:1000; 
			padding:none;
			font-size:1.0em;
			display:block;
		}
		&:hover {
			border:1px solid rgba(200,200,200,0.5);
			.delete { display: block; }
		}
		.proplabel {
			margin:0px;
			display:inline-block; font-size:0.7em; color: #aaa; padding:0px 0px 0px 5px;
			height:0.5em;
			vertical-align:middle;
			line-height:5px;
			&:hover { color:#000; }
		}
		.values, .props {
			margin:0px; padding:0px 0px 0px 18px;
		}
		&.brush {
			background-color:rgba(0,200,255,0.1);
		}
	}	
}
	
