// --- VISUAL STUFF ---
@visual-width:250px;
@visual-height:200px;
@visual-y-width:30px;
@visual-x-height:30px;
@visual-border-color : rgba(190,180,0,0.2);
@map-border-color : rgba(180,180,0,0.2);
@plotting-color: rgb(20,200,255);

@import "box.less";
	
.fullsize {
	position:absolute;
	top:0px; left:0px; right:0px; bottom:0px;
}
.visual, .visual-map {
	position:absolute;
	width:@visual-width;
	height:@visual-height;
	padding: 0px 0px 0px 0px;
	border: 1px solid #E0E0E0;
	border-radius: 5px 5px 0px 0px;
	background-color:rgba(250,250,250,0.81);	
	.delete {
        .standard-delete-box;
	}
}
.visual {
	color:@plotting-color;
	position:relative;
	overflow:hidden;
	border:1px solid @plotting-color; // @visual-border-color;
	&.over {
		border:2px solid @plotting-color; // rgba(50,255,50,0.8);
	}				
	.corner_thingy {
		width:50px; height:50px;
		position:absolute;			
		z-index:100;			
	}
	.titlebar {
		background-color:fadeout(@plotting-color,98%);
		border-bottom:1px solid @plotting-color;
	}
	div.plotdiv {
		position:absolute;
		top:@titlebar-height; left:0px; right:0px; bottom:0px;
		background-color:fadeout(@plotting-color,98%);				
		svg.plot {
			width:100%; height:100%;
			rect {
				fill:fadeout(@plotting-color,90%);
				&.brush { fill:@plotting-color; }
			}
			text.barlabel { fill: rgba(120, 120, 120, 0.4);  }
			text.valuedisplay { font-size:16pt;	}
			text.value-label {	font-size:10pt;	}		
		}
	}
	.droparea {
		position:absolute;
		border-top:1px solid rgba(200,200,200,0.4);
		.lbl {
			display:none;
			.fullsize;
			text-align:center;
			vertical-align:middle;
		}
		font-size:0.8em;
		&.over {
			box-shadow : inset 0 0 5px green;
			background-color:rgba(100,250,100,0.3);
		}					
	}
	.xaxis {
		display:none;
		.droparea;
		left:0px; bottom:0px; right:0px; height:@visual-x-height;
	}
	
	/*
	.yaxis {
		.droparea;
		transform: rotate(90deg);
		left:30px; top:0px; width:@visual-height - 1; height:@visual-x-height;			
		-webkit-transform: rotate(90deg);
		transform-origin:0% 0%;
		-webkit-transform-origin:0% 0%;
		top:0px;
		z-index:5;
		.lbl {	}			
	}*/
}

@visual-width:350px;
@visual-height:300px;
@map-dropzone-width:22px;
.visual-map {
	position:absolute !important;
	width:@visual-width;
	height:@visual-height;
	padding:0px; margin:0px;
	.titlebar {
		color:grey;
		background-color:fadeout(grey,98%);		
		border-bottom:1px solid grey;
	}
	// border:1px solid grey;
	.box-box-shadow;
	.map-zone {
		opacity:0.95;
		position:absolute !important;
		padding:0px; margin:0px;		
		top:@titlebar-height; left:@map-dropzone-width; right:0px; bottom:0px;
	}
	.dropzones {
		padding:0px; margin:0px;		
		position:absolute;
		top:@titlebar-height; left:0px; width:@map-dropzone-width; bottom:0px;
		
		.dropzone {
			// -webkit-transition: all 1s ease-in-out;
			display:inline-block;
			width: 100%; height:25%;
			vertical-align:top;
			.lbl {
				-webkit-transform: rotate(90deg);
				transform-origin:0% 0%;
				-webkit-transform-origin:0% 0%;
				font-size:0.8em;
			}
			&.over {
				padding:20px;
				border:1px solid rgba(200,200,200,0.5);
				background-color:rgba(200,200,200,0.1);			
			}				
		}
	}
    .leaflet-control-attribution {
        display:none !important;
    }               
}


.dropzone-i(@color) {
	&.dropzone {
		border-left:1px solid @color !important;
		// border-top:1px solid rgba(200,200,200,0.4);
		// border-bottom:1px solid rgba(200,200,200,0.4);
		background-color:fadeout(@color,90%);
	}
	background-color:lighten(@color,48%);
	.brush { background-color: fadeout(@color,95%) !important;}
	.titlebar input {
		background-color:fadeout(lighten(@color,20%),80%);
	}		
}


.dropzone-0 { .dropzone-i(blue); }
.dropzone-1 { .dropzone-i(orange); }
.dropzone-2 { .dropzone-i(green); }
.dropzone-3 { .dropzone-i(red); }

.plotting {
	background-color:lighten(@plotting-color,30%);
}