.titlebar {
  position: relative;
  cursor: move;
  padding: 2px 3px 2px 5px;
  background-color: rgba(200, 200, 200, 0.2);
  height: 23px;
  font-size: 0.9em;
}
.titlebar input {
  font-family: "District", "Droid Sans", "Lucida Sans";
  color: rgba(0, 0, 50, 0.6);
  background-color: rgba(255, 255, 255, 0.7) !important;
  text-align: left;
  position: absolute;
  left: 3px;
  bottom: 0px !important;
  width: 110px;
  margin: 0px;
  padding: 4px !important;
  font-size: 11pt;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border: none !important;
  box-shadow: none !important;
  cursor: text;
  -webkit-appearance: none !important;
}
.titlebar input:hover,
.titlebar input:focus {
  color: black;
}
.titlebar input:focus {
  box-shadow: none !important;
  outline: 0 !important;
  -webkit-outline: 0 !important;
  outline-color: transparent !important;
  outline-style: none !important;
}
.titlebar .icon-share {
  position: absolute;
  right: 20px;
  top: 3px;
  cursor: pointer;
}
.titlebar .box-delete {
  z-index: 10;
  position: absolute;
  top: 3px;
  right: 2px;
  cursor: pointer;
}
.titlebar .sparkhist {
  cursor: default;
  z-index: 1000;
  position: absolute;
  top: 3px;
  right: 35px;
  height: 15px;
  text-align: right;
  width: 30px;
}
.titlebar .sparkhist rect {
  fill: white;
  stroke: rgba(0, 200, 255, 0.5);
}
.titlebar .sparkhist rect.brush {
  fill: rgba(0, 200, 255, 0.5);
}
.box-box-shadow {
  -webkit-box-shadow: 1px 1px 10px 1px #f0e8f0;
  box-shadow: 1px 1px 10px 1px #f0e8f0;
}
.standard-delete-box {
  z-index: 10;
  position: absolute;
  top: 3px;
  right: 2px;
  cursor: pointer;
}
.greybox {
  z-index: 5;
  background-color: white;
  -webkit-box-shadow: 1px 1px 10px 1px #f0e8f0;
  box-shadow: 1px 1px 10px 1px #f0e8f0;
  position: absolute;
  top: 10px;
  -webkit-transition: padding 0.5s ease-in-out;
  width: 340px;
  min-width: 240px;
  padding: 12px 20px 12px 12px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: hidden;
  /* properties */

  padding: 0px 0px 0px 0px;
  border: 1px solid #E0E0E0;
  border-radius: 5px 5px 0px 0px;
}
.greybox.over {
  padding: 5px;
}
.greybox .microtoolbox {
  display: none;
  color: rgba(0, 0, 50, 0.6);
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: -20px;
  margin: 0px;
  padding: 0px;
  width: 80%;
  font-size: 14px;
}
.greybox .microtoolbox span:hover {
  color: black;
}
.greybox .items {
  position: absolute;
  top: 23px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 15px;
}
.greybox .properties {
  background-color: rgba(200, 200, 200, 0.2) !important;
  position: absolute;
  z-index: 3;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 3px;
  overflow: none;
  vertical-align: top;
}
.greybox .properties .propitems {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px !important;
  padding: 0px !important;
  list-style-type: none !important;
}
.greybox .properties .propitems li.path {
  margin: 0px !important;
  padding: 0px !important;
  padding: 0px;
  position: relative;
}
.greybox .properties .propitems li.path .steps {
  padding: 0px 0px 1px 15px;
  font-size: 8pt !important;
  vertical-align: middle !important;
}
.greybox .properties .propitems li.path .steps * {
  margin: 0px;
  padding: 0px;
  border: none;
}
.greybox .properties .propitems li.path .steps .delete {
  z-index: 10;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 3px;
  left: 1px;
}
.greybox .properties .propitems li.path .steps select {
  background-color: white !important;
  border: 1px solid rgba(0, 0, 0, 0.22) !important;
  color: black !important;
  vertical-align: middle !important;
  font-size: 7pt !important;
  line-height: 12px !important;
  height: 14px !important;
  width: 120px !important;
}
.greybox .properties .new-path-btn {
  position: absolute;
  top: 3px;
  right: 5px;
}
.simple {
  font-size: 8pt;
  padding: 4px;
  width: 20px;
}
.box_container {
  height: 100%;
  width: 100%;
  position: relative;
}
.fullsize {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.visual,
.visual-map {
  position: absolute;
  width: 350px;
  height: 300px;
  padding: 0px 0px 0px 0px;
  border: 1px solid #E0E0E0;
  border-radius: 5px 5px 0px 0px;
  background-color: rgba(250, 250, 250, 0.81);
}
.visual .delete,
.visual-map .delete {
  z-index: 10;
  position: absolute;
  top: 3px;
  right: 2px;
  cursor: pointer;
}
.visual {
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(190, 180, 0, 0.2);
  /*
	.yaxis {
		.droparea;
		transform: rotate(90deg);
		left:30px; top:0px; width:@visual-height - 1; height:@visual-x-height;			
		-webkit-transform: rotate(90deg);
		transform-origin:0% 0%;
		-webkit-transform-origin:0% 0%;
		top:0px;
		z-index:5;
		.lbl {	}			
	}*/

}
.visual.over {
  border: 2px solid rgba(50, 255, 50, 0.8);
}
.visual .corner_thingy {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 100;
}
.visual svg.plot {
  position: absolute;
  top: 23px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.visual svg.plot rect {
  fill: rgba(20, 100, 20, 0.3);
}
.visual svg.plot rect.brush {
  fill: rgba(20, 100, 20, 0.8);
}
.visual svg.plot text.barlabel {
  fill: rgba(120, 120, 120, 0.4);
}
.visual svg.plot text.valuedisplay {
  font-size: 16pt;
}
.visual svg.plot text.value-label {
  font-size: 10pt;
}
.visual .droparea {
  position: absolute;
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  font-size: 0.8em;
}
.visual .droparea .lbl {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
}
.visual .droparea.over {
  box-shadow: inset 0 0 5px green;
  background-color: rgba(100, 250, 100, 0.3);
}
.visual .xaxis {
  display: none;
  position: absolute;
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  font-size: 0.8em;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 30px;
}
.visual .xaxis .lbl {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  vertical-align: middle;
}
.visual .xaxis.over {
  box-shadow: inset 0 0 5px green;
  background-color: rgba(100, 250, 100, 0.3);
}
.visual-map {
  position: absolute !important;
  width: 350px;
  height: 300px;
  padding: 0px;
  margin: 0px;
  -webkit-box-shadow: 1px 1px 10px 1px #f0e8f0;
  box-shadow: 1px 1px 10px 1px #f0e8f0;
}
.visual-map .map-zone {
  opacity: 0.95;
  position: absolute !important;
  padding: 0px;
  margin: 0px;
  top: 23px;
  left: 18px;
  right: 0px;
  bottom: 0px;
}
.visual-map .dropzones {
  padding: 0px;
  margin: 0px;
  position: absolute;
  top: 23px;
  left: 0px;
  width: 18px;
  bottom: 0px;
}
.visual-map .dropzones .dropzone {
  -webkit-transition: all 1s ease-in-out;
  display: inline-block;
  width: 100%;
  height: 25%;
  border: 1px solid rgba(200, 200, 200, 0.3);
}
.visual-map .dropzones .dropzone .lbl {
  -webkit-transform: rotate(90deg);
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  font-size: 0.8em;
}
.visual-map .dropzones .dropzone.over {
  padding: 20px;
  border: 1px solid rgba(200, 200, 200, 0.5);
  background-color: rgba(200, 200, 200, 0.1);
}
.visual-map .leaflet-control-attribution {
  display: none !important;
}
.dropzone-0 {
  background-color: rgba(0, 0, 255, 0.050000000000000044);
}
.dropzone-0.dropzone {
  border-left: 1px solid #0000ff !important;
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  background-color: rgba(0, 0, 255, 0.09999999999999998);
}
.dropzone-0 .brush {
  background-color: rgba(0, 0, 255, 0.050000000000000044) !important;
}
.dropzone-0 .titlebar input {
  background-color: rgba(102, 102, 255, 0.19999999999999996);
}
.dropzone-1 {
  background-color: rgba(255, 165, 0, 0.050000000000000044);
}
.dropzone-1.dropzone {
  border-left: 1px solid #ffa500 !important;
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  background-color: rgba(255, 165, 0, 0.09999999999999998);
}
.dropzone-1 .brush {
  background-color: rgba(255, 165, 0, 0.050000000000000044) !important;
}
.dropzone-1 .titlebar input {
  background-color: rgba(255, 201, 102, 0.19999999999999996);
}
.dropzone-2 {
  background-color: rgba(0, 128, 0, 0.050000000000000044);
}
.dropzone-2.dropzone {
  border-left: 1px solid #008000 !important;
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  background-color: rgba(0, 128, 0, 0.09999999999999998);
}
.dropzone-2 .brush {
  background-color: rgba(0, 128, 0, 0.050000000000000044) !important;
}
.dropzone-2 .titlebar input {
  background-color: rgba(0, 230, 0, 0.19999999999999996);
}
.dropzone-3 {
  background-color: rgba(255, 0, 0, 0.050000000000000044);
}
.dropzone-3.dropzone {
  border-left: 1px solid #ff0000 !important;
  border-top: 1px solid rgba(200, 200, 200, 0.4);
  border-bottom: 1px solid rgba(200, 200, 200, 0.4);
  background-color: rgba(255, 0, 0, 0.09999999999999998);
}
.dropzone-3 .brush {
  background-color: rgba(255, 0, 0, 0.050000000000000044) !important;
}
.dropzone-3 .titlebar input {
  background-color: rgba(255, 102, 102, 0.19999999999999996);
}
