@import "../../js/ui/font-propertybox/fontello.css";
#box_example .table {
  max-height: 200px;
  overflow: scroll;
}
#box_example .instance {
  padding: 2px;
}
#box_example .slidepanel {
  position: fixed;
  /* Panel will overlap content */

  top: 0;
  left: -300px;
  height: 100%;
  z-index: 999;
  margin-top: auto;
  margin-bottom: auto;
}
#box_example .tab {
  width: 42px;
  position: absolute;
  bottom: 40px;
  right: -42px;
  z-index: 999;
  float: left;
  border: 1px solid #DDD;
  border-radius: 2px;
  background: #FFF;
  text-align: center;
}
#box_example .datapanel {
  height: 100%;
  width: 300px;
  background: #FFF;
  overflow: hidden;
  position: relative;
  z-index: 3;
  float: left;
  left: 0;
  border-right: 1px solid #DDD;
}
#box_example html,
#box_example body,
#box_example #mainpanel {
  height: 100%;
  /*margin: 0;*/

  /*padding: 0;*/

}
#box_example ul {
  list-style-type: none;
}
#box_example li {
  position: relative;
  left: 0;
}
#box_example .flip-horizontal {
  display: inline-block;
  -moz-transform: scalex(-1);
  -webkit-transform: scalex(-1);
  -o-transform: scalex(-1);
  transform: scalex(-1);
  -ms-filter: fliph;
  /*IE*/

  filter: fliph;
  /*IE*/

}
