
#slidepanel {
	position: fixed;   /* Panel will overlap content */
	top: 0;
	left: -300px;
	height: 100%;
	z-index: 999;
	margin-top: auto;
	margin-bottom: auto;
}

#tab {
	width: 42px;
	position: absolute;
	bottom: 40px;
	right: -42px;
	z-index: 999;
	float: left;
	border: 1px solid #DDD;
	border-radius: 2px;
	background: #FFF;
}

#datapanel {
	height: 100%;
	width: 300px;
	background: #FFF;
	overflow: hidden;
	position: relative;
	z-index: 3;
	float: left;
	left: 0;
	border-right: 1px solid #DDD;
}

html, body, #mainpanel {
	height: 100%;
	/*margin: 0;*/
	/*padding: 0;*/
}


#slidecontainer {
	width: 100%;
	overflow-x: scroll;
	overflow-y: clip;
}
#slider {
	width: auto;
	height: 2em;
	overflow-x: scroll;
	overflow-y: clip;
}

ul {
	list-style-type: none;
}

li {
	position: relative;
	left: 0;
}